{% extends "layout.html" %}
{% block content %}

<h1 class="mb-4">People</h1>

<div class="container">

  <a href="/students" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Students</h3>
      </div>
    </div>
  </a>

  <a href="/counselors" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Counselors</h3>
      </div>
    </div>
  </a>

  <a href="/providers" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Providers</h3>
      </div>
    </div>
  </a>

  <a href="/deans" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Deans</h3>
      </div>
    </div>
  </a>

  <a href="/tutors" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Tutors</h3>
      </div>
    </div>
  </a>

</div>

{% endblock %}
