{% extends "layout.html" %}
{% block content %}

<h1 class="mb-4">Misc</h1>

<div class="container">

  <a href="/followups" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Followups</h3>
      </div>
    </div>
  </a>

  <a href="/healthcare_referrals" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Healthcare Referrals</h3>
      </div>
    </div>
  </a>

  <a href="/dean_referrals" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Dean Referrals</h3>
      </div>
    </div>
  </a>

  <a href="/tutor_referrals" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Tutor Referrals</h3>
      </div>
    </div>
  </a>

  <a href="/job_referrals" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Job Referrals</h3>
      </div>
    </div>
  </a>

</div>

{% endblock %}
