{% extends "layout.html" %}
{% block content %}

<h1 class="mb-4">Misc</h1>

<div class="container">

  <a href="/symptoms" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Symptoms</h3>
      </div>
    </div>
  </a>

  <a href="/diagnoses" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Diagnoses</h3>
      </div>
    </div>
  </a>

  <a href="/categories" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Categories</h3>
      </div>
    </div>
  </a>

  <a href="/reported_symptoms" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Reported Symptoms</h3>
      </div>
    </div>
  </a>

  <a href="/diagnosis_categorization" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Diagnosis Categorization</h3>
      </div>
    </div>
  </a>

  <a href="/symptom_categorization" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Symptom Categorization</h3>
      </div>
    </div>
  </a>

  <a href="/critical_situations" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Critical Situations</h3>
      </div>
    </div>
  </a>

  <a href="/employment_events" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Employment Events</h3>
      </div>
    </div>
  </a>

  <a href="/struggle_courses" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Struggle Courses</h3>
      </div>
    </div>
  </a>

</div>

{% endblock %}
