{% extends "layout.html" %}
{% block content %}

<h1 class="mb-4">Visits</h1>

<div class="container">

  <a href="/visits" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Visits</h3>
      </div>
    </div>
  </a>

  <a href="/visit_counselors" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Visit - Counselors</h3>
      </div>
    </div>
  </a>

  <a href="/visit_comments" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Visit - Comments</h3>
      </div>
    </div>
  </a>

  <a href="/counselor_assignments" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Counselor Assignments</h3>
      </div>
    </div>
  </a>

  <a href="/issues" style="text-decoration:none;">
    <div class="card mb-3" style="background-color: indigo; color: white; cursor:pointer;">
      <div class="card-body">
        <h3 class="card-title">Issues</h3>
      </div>
    </div>
  </a>

</div>

{% endblock %}
