{% extends "layout.html" %}
{% block content %}

<h2>
    {% if category %} Edit Category {% else %} Add New Category {% endif %}
</h2>

<form method="POST"
      action="{% if category %}/categories/{{ category.category_id }}/edit{% else %}/categories/new{% endif %}"
      class="mt-4">

    <!-- Category -->
    <div class="mb-3">
        <label class="form-label">Category</label>
        <input name="category" class="form-control"
               value="{{ category.category if category else '' }}" required>
    </div>

    <button class="btn btn-success">
        {% if category %} Save Changes {% else %} Add Category {% endif %}
    </button>

    <a href="/categories" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}