{% extends "layout.html" %}
{% block content %}

<h2>Visit Comments</h2>

<a href="/visit_comments/new" class="btn btn-primary mb-3">Add Visit Comment</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Visit</th>
            <th>Visit Date</th>
            <th>Student</th>
            <th>Counselor</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for vc in visit_comments %}
        <tr>
            <td>{{ vc.comment_id }}</td>
            <td>{{ vc.visit_id }}</td>
            <td>{{ vc.visit_date if vc.visit_date else 'N/A' }}</td>
            <td>{{ vc.student_name if vc.student_name else 'N/A' }}</td>
            <td>{{ vc.counselor_name if vc.counselor_name else 'N/A' }}</td>
            <td>{{ vc.comment[:50] }}{% if vc.comment|length > 50 %}...{% endif %}</td>
            <td>
                <a href="/visit_comments/{{ vc.comment_id }}/edit" class="btn btn-sm btn-warning">Edit</a>
                <a href="/visit_comments/{{ vc.comment_id }}/delete" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}